/*
* @Author: wuyizhao
* @Date:   2017-02-13 18:04:13
* @Last Modified by:   wuyizhao
* @Last Modified time: 2017-02-16 02:01:48
*/

@font-face {
    font-family: 'iconfont';
    /* project id 231551 */
    src: url('http://at.alicdn.com/t/font_xkwyfc1ug5xhto6r.eot');
    src: url('http://at.alicdn.com/t/font_xkwyfc1ug5xhto6r.eot?#iefix') format('embedded-opentype'), url('http://at.alicdn.com/t/font_xkwyfc1ug5xhto6r.woff') format('woff'), url('http://at.alicdn.com/t/font_xkwyfc1ug5xhto6r.ttf') format('truetype'), url('http://at.alicdn.com/t/font_xkwyfc1ug5xhto6r.svg#iconfont') format('svg');
}

a {
    text-decoration: none;
}

body,
button,
dd,
dl,
li,
ol,
ul,
input,
p {
    margin: 0;
    padding: 0;
}

body{
    background:#f1f1f1;
}
#top{
    background-color: #fff;
}
ul,
ol {
    list-style: outside none none;
}

.iconfont {
    font: normal 12px "iconfont";
    color: #9C9C9C;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    padding-left: 7px;
    padding-right: 7px;
}

body,
button,
input,
select,
textarea {
    font: 12px/1.5 tahoma, arial, "Hiragino Sans GB", "宋体", sans-serif;
}

.site-nav {
    background: #f5f5f5;
    height: 35px;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #eee;
}

.site-nav-bd-l {
    margin: 0;
    padding: 0 0 0 25px;
    float: left;
}

.site-nav-bd-r {
    list-style-type: none;
    margin: 0;
    padding: 0 50px 0 0;
    float: right;
}

.site-nav li {
    float: left;
    line-height: 35px;
    padding: 0 0 0 2.5px;
    color: #3C3C3C;
}
.username:hover {
    background-color: #fff;
    border: 1px solid #eee;
}

.message:hover {
    background-color: #fff;
    border: 1px solid #eee;
}

.site-nav li a:hover {
    color: #FF4400;
}

.site-nav li a {
    text-decoration: none;
}

.username-hd {
    background-color: #fff;
    height: 15px;
    width: 51px;
    line-height: 35px;
    padding: 0 6px;
    position: fixed;
    top: 30px;
    left: 26px;
    z-index: 10005;
    display: none;
}

.user-panel {
    width: 248px;
    background: #fff;
    border: 1px solid #eee;
    left: 0;
    line-height: normal;
    padding: 8px;
}

.user-panel-pre {
    margin-top: -1px;
    display: none;
    position: fixed;
    top: 35px;
    left: 25px;
    z-index: 10003;
}

.user-panel img {
    border: 0 none;
    border-radius: 50%;
    display: block;
    height: 80px;
    width: 80px;
    float: left;
}

.user-panel .user-info {
    height: 80px;
    overflow: hidden;
}

.user-panel .user-info .operator {
    text-align: right;
}

.user-info .user-privilege-count {
    font-weight: 400;
    color: #3c3c3c;
    padding-top: 20px;
    padding-left: 10px;
}

.user-info .user-privilege-count b {
    color: red;
}

.privilege-come {
    background-color: #E9FECF;
    margin: 5px 10px 10px;
    padding: 4px 0;
    border: 1px solid #ddf6be;
    border-radius: 2px;
}

.privilege-come p {
    text-align: center;
}

.privilege-come p b {
    color: red;
}

.privilege-come p a:hover {
    color: #FF4400;
}

.message {
    display: inline;
    float: left;
    position: relative;
    text-align: left;
    z-index: 102400;
}

.message-hd {
    border: 1px solid #eee;
    height: 32px;
    width: 280px;
    position: fixed;
    top: 35px;
    left: 90px;
    z-index: 10003;
    background-color: #fff;
    text-align: right;
    padding-right: 10px;
    display: none;
}

.message-hd-2 {
    background-color: #fff;
    height: 15px;
    width: 65px;
    line-height: 35px;
    padding: 0 6px;
    position: fixed;
    top: 30px;
    left: 91px;
    z-index: 10005;
    display: none;
}

#logo {
    display: block;
    height: 0;
    margin-left: 50px;

    padding-top: 40px;
    width: 142px;
    background: #fff;;
}

#logo img {
    width: 142px;
}

.searchtab li {
    color: #FF4400;
    display: block;
    height: 25px;
    width: 50px;
    float: left;
    text-align: center;
    line-height: 25px;
    cursor: pointer;
}

.searchtab li:hover {
    background-color: #f9e6e6;
}

.active a {
    color: #fff;
}

.active {
    background-color: #FF4400;
    color: #fff;
    font-weight: 700;
}

#searchwrap {
    position: relative;
    margin-left: 285px;
    margin-right: 300px;
    vertical-align: middle;
}

#search-content input {
    height: 34px;
    width: 625px;
    border: 3px solid #FF4400
}

#search-content {
    width: 500px;
}

#search-button {
    height: 40px;
    overflow: hidden;
    position: absolute;
    right: 25px;
    text-align: center;
    top: 25px;
    width: 122px;
    z-index: 100;
}

#search-button button {
    font-size: 18px;
    font-weight: 700;
    height: 40px;
    color: #fff;
    width: 122px;
    background-color: #FF4400;
    border: none;
}

#search-button button:hover {
    background-color: #f30;
    cursor: pointer;
}
#search-hots-line{
    height: 20px;
    margin-top: 8px;;;
}

#search-hots-line li {
    float: left;
}

#search-hots-line li a {
    margin-right: 8px;
    color: #666;
}

#search-hots-line li a:hover {
    color: #FF4400;
}

#advanced-search {
    position: absolute;
    top: 103px;
    right: 295px;
}

#advanced-search a:hover {
    color: #FF4400;
}

.topmenu {
    position: absolute;
    left: 0;
    display: inline-block;
    width: 190px;
    font-size: 14px;
    margin: 20px 30px;
    background-color: #ff6537;
    top: 150px;;;;;
}

.toptitle {
    height: 40px;
    line-height: 40px;
    text-align: left;
    font-weight: 700;
    color: #fff;
    padding-left: 10px;
}

.topmenu li {
    font-weight: 700;
    font-size: 13px;
    height: 30px;
    line-height: 30px;
    list-style-type: none;
    text-align: left;
    padding-left: 15px;
    z-index: 3;
    letter-spacing: 2px;
}

.topmenu li a {
    text-decoration: none;
    color: #fff;
}

.topmenu li:hover {
    background-color: #f94A14;
}

.topmenu .lihover {
    background-image: none;
    height: 30px;
}

.topmenu .lihover .submenu {
    display: block;
    border: 2px solid #f94A14;
}

.topmenu .lihover b {
    display: block;
    height: 30px;
    line-height: 30px;
    font-weight: normal;
    font-size: 10pt;
}

.submenu {
    display: none;
    width: 715px;
    left: 190px;
    position: absolute;
    top: 40px;
    border: 1px solid #DDD;
    z-index: 4;
    background: white;
}

.leftdiv {
    float: left;
    width: 450px;
    margin: 5px;
}

.rightdiv {
    float: left;
    width: 240px;
    height: 200px;
    padding-left: 5px;
    background-color: #f4f4f4;
}

.leftdiv dl {
    display: block;
    padding-bottom: 6px;
    overflow: hidden;
}

.leftdiv dl dt {
    display: block;
    float: left;
    width: 70px;
    text-align: right;
    height: 22px;
    line-height: 22px;
    padding-right: 6px;
}

.leftdiv dl dt a {
    color: #000;
    font-size: 10pt;
}

.leftdiv dl dd {
    display: block;
    overflow: hidden;
}

.leftdiv dl dd a {
    display: block;
    float: left;
    color: #737373;
    font-size: 9pt;
    padding: 0 8px;
    height: 14px;
    line-height: 14px;
    margin: 4px 0;
}

.rightdiv dl dd {
    margin: 3px 0;
}

.rightdiv dl dt {
    color: #e4393c;
    font-size: 10pt;
}

.rightdiv dl dd a {
    font-size: 9pt;
    color: #737373;
    line-height: 22px;
}

.rightdiv dl dd a:hover {
    color: #737373;
    font-weight: normal;
}

.topmenu li b {
    display: none;
}

.rightPic {
    position: relative;
    right: -35px;
    bottom: -20px;
}

#nav {
    position: relative;
    background-color: #fff;
    height: 30px;
    padding-top: 15px;
    width: 1261px;
    padding-left: 240px;;;;;;;;;;;
}

#nav ul {
    text-decoration: none;
}

#nav li {
    padding: 0 10px;
    margin-right: 5px;
    font-size: 15px;
    font-weight: bold;
    line-height: 30px;
    text-decoration: none;
    float: left;
    text-align: center;
}
#nav li a{
    display: block;
}
#nav li a:hover {
    color: #fff;
}

#nav li:hover {
    border-radius: 20px;
    background-color: #FF4400;
}

#container {
    width: 520px;
    height: 280px;
    overflow: hidden;
    position: relative;
    margin-top: 5px;
    margin-left: 230px;
    float: left;
}

#list {
    width: 5400px;
    height: 280px;
    position: absolute;
    z-index: 1;
    display: inline-block;
}

#list img {
    float: left;
}

#buttons {
    position: absolute;
    height: 10px;
    width: 100px;
    z-index: 2;
    bottom: 20px;
    left: 250px;
}

#buttons span {
    cursor: pointer;
    float: left;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #a0a0a0;
    margin-right: 5px;
}

#buttons .on {
    background: orangered;
}

.arrow {
    cursor: pointer;
    display: none;
    line-height: 39px;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    width: 30px;
    height: 50px;
    position: absolute;
    z-index: 2;
    top: 120px;
    background-color: RGBA(0, 0, 0, .3);
    color: #fff;
}

.arrow:hover {
    background-color: RGBA(0, 0, 0, .7);
}

#container:hover .arrow {
    display: block;
}

#prev {
    left: 10px;
}

#next {
    right: 10px;
}

#ad img {
    margin-top: 5px;
    position: relative;
    float: left;
}
#member .login{
    display: inline-block;
    position: relative;
    width: 300px;
    height: 500px;
float: left;
    background-color: #fff;
    margin-top: 10px;
    margin-left: 10px;;;

}
#member div img{
    margin: 20px 120px;
    border-radius: 50%;
}
body{
    overflow-x:hidden;
}
#member li{
background-color: #ff4400;
    color: #fff;
    font-weight: 700;
    width: 82px;
    float: left;
margin: 5px;
height: 25px;text-align: center;

}
#member li a{
    display: block;
color: #fff;
line-height: 25px;

}
.memberlog{
    margin-left: 10px;



    padding: 0;
}
#member li a:hover{
    background-color: #e4393c;
}

